#input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 300px;
  border: 1px solid #4c4c4c;
  border-radius: 3px;
  font-size: 20px;
  padding: 20px;
}
.keyboard-wrap {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  background: #f3f3f3;;
}
.key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3.5px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s ease;
  &.press {
    transform: scale(.9);
    background: darken(#fff, 12);
  }
  &.special-key {
    background: #b7c4ff;
  }
}
.w-578 {
  width: 578px;
}
.w-156 {
  width: 156px;
}
.w-130 {
  width: 130px;
}
.w-120 {
  width: 120px;
}
.w-72 {
  width: 72px;
}
.w-94 {
  width: 94px;
}